{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Register</h1>
</div>

{% from "security/_macros.html" import render_field_bootstrap, render_field %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-6">
      {% include "security/_messages.html" %}
<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form"
  class="form-horizontal">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_bootstrap(register_user_form.email) }}
  {{ render_field_bootstrap(register_user_form.password) }}
  {% if register_user_form.password_confirm %}
    {{ render_field_bootstrap(register_user_form.password_confirm) }}
  {% endif %}
  {{ render_field_bootstrap(register_user_form.submit) }}
</form>
    </div>
  </div>
</div>

{% include "security/_menu.html" %}

{% endblock %}