.user-profile {
    min-height: 140px;
}

.user-avatar {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
}

ul.talk-list {
    list-style-type: none;
    padding: 0px;
}

li.talk {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

li.talk:hover {
    background-color: #f8f8f8;
}

div.talk-header h2 {
    font-size: 200%;
    margin: 5px 0px 15px 0px;
}

div.talk-header h3 {
    font-size: 115%;
    margin: 0px 0px 10px 0px;
}

div.talk-header p {
    font-size: 90%;
    font-style: italic;
    margin: 20px 0px 0px 0px;
}

div.talk-video {
    width: 450px;
    max-width: 450px;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

div.talk-slides {
    width: 450px;
    max-width: 450px;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.flask-pagedown-preview {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.flask-pagedown-preview h1, .comment-body h1 {
    font-size: 160%;
}

.flask-pagedown-preview h2, .comment-body h2 {
    font-size: 140%;
}

.flask-pagedown-preview h3, .comment-body h3 {
    font-size: 120%;
}

ul.comment-list {
    list-style-type: none;
    padding: 0px;
}

li.comment {
    padding: 10px;
}

ul.comment-list li.comment:nth-child(odd)
{
    background-color: #eee;
}

ul.comment-list li.comment:nth-child(even)
{
    background-color: #fff;
}

.badge-red {
    background-color:#d44;
}

.vmiddle_sgg tbody tr td {
    vertical-align: middle;
}

body {
    margin-bottom: 60px;
}

@media(min-width: 768px){
    .sgg_center {
        width:60%; margin: 0 auto;
    }
}

#imageContainer {
    margin-top: 15px;
}

.svg_target {
    max-width: 800px;
    margin-left: auto;
    margin-right:auto;
}

.keyword-text {
    color:red;
}

.dendrogram {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 2058px;
  margin: 0.2em;
}
.dendrotext {
  height: 2058px;
  display: inline-block;
  vertical-align: top;
  margin: 0.2em;
  line-height: 1.5;
  font-size: 14px;
  white-space: pre-line;
}

.tree-holder {
    white-space: nowrap;
    overflow: scroll;
    height: 100%;
}

#resizable-tree {
    height: 200px;
}
