# TODO: sync with conda yml
python>=3.8.0
Flask
Flask-Login
Flask-Bootstrap
Flask-SQLAlchemy
Flask-Security-Too
Flask-Script
PyMySQL
# py-bcrypt
# Flask-Uploads
Flask-Migrate
numpy
scipy
Unidecode
cython
pandas
matplotlib
celery
redis
bokeh
flask_httpauth
matplotlib
datetime
scikit-learn
