{% extends "base.html" %}
{% block head %}
    {{ super() }}
	<title>Results</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
{% endblock %}


{% block page_content %}

<!-- BETTER TO HAVE AN OBJECT-->

{% if current_projs[0] %}

<!--<div class="page-header">-->
	<!--<h1>Pathway Dendrogram</h1>-->
<!--</div>-->

<!--<div class="panel panel-default">-->
	<!--<div class="panel-body">-->
		<form class="form-inline" action="/compare" method="get">
			<div class="form-group">
				<label for="projSelectionA">Project:</label>
                <select class="form-control" id="projSelectionA" name="proj_a">
				{% for proj in projects %}
					{% if current_projs[0].file_id == proj.file_id %}
						<option value="{{ proj.file_id }}" selected="selected">
					{% else %}
						<option value="{{ proj.file_id }}">
					{% endif %}
						{{ proj.get_local_filename() }}
						</option>
				{% endfor %}
				</select>
            </div>
            <div class="form-group">
                <select class="form-control" id="projSelectionB" name="proj_b">
				{% for proj in projects %}
					{% if current_projs[1].file_id == proj.file_id %}
						<option value="{{ proj.file_id }}" selected="selected">
					{% else %}
						<option value="{{ proj.file_id }}">
					{% endif %}
						{{ proj.get_local_filename() }}
						</option>
				{% endfor %}
				</select>
            </div>
            <button type="submit" class="btn btn-default">Compare</button>
        </form>
    <!--</div>-->
<!--</div>-->



<div class="bokeh">
 {{ bokeh_div|safe }}
</div>
<!--<button id="selectButton" class="btn btn-default">Selection info</button>-->

<form class="form-inline" style="margin-top: 15px;" id="geneForm">
  <div class="form-group">
    <!--<label for="userGenes">Email address</label>-->
    <input type="text" class="form-control" id="userGenes" placeholder="Gene list e.g. TP53,BRAF">
    <button class="btn btn-default" id="includeButton" type="button">Include</button>
    <button class="btn btn-default" id="excludeButton" type="button">Exclude</button>
    <label for="userGenes" class="control-label" id="selectCount"></label>
  </div>
</form>

{% if has_cnv %}
<div>
	<button class="btn btn-default hidden" id="toggleCnvButton">Toggle CNV</button>
</div>
{% endif %}

<div id="imageContainer" class="padded">
</div>

{% endif %}

{% endblock %}


{% block scripts %}
{{super()}}

{% if current_projs[0] %}

 <link rel="stylesheet" href="{{ resources.css_files[0] }}" type="text/css" />
 <script type="text/javascript" src="{{ resources.js_files[0] }}"></script>
 {{ bokeh_script|safe }}
<script>
    $(function() {
		{# current_projs, inds_use_a, inds_use_b, js_name_a, js_name_b #}
//        $selectButton = $('#selectButton');
		$imageContainer = $('#imageContainer');
		$projSelectionA = $('#projSelectionA');
		$projSelectionB = $('#projSelectionB');
		$bokehContainer = $('.bokeh');
        $cnvButton = $('#toggleCnvButton');
        $includeButton = $('#includeButton');
        $excludeButton = $('#excludeButton');
        var initial_include = '{{ include_genes }}';
        $("#geneForm").submit(function(e){return false;});

		projIds = [$projSelectionA.val(), $projSelectionB.val()];  // global for project id
		var inds_use_a = {{inds_use[0]}};
		var inds_use_b = {{inds_use[1]}};

		selected_prv = [];

		$.getScript( "static/data/{{ user_id }}/{{current_projs[0].file_id}}/{{js_name_a}}", function( data, textStatus, jqxhr ) {
			console.log( "Loaded project A." );
			pwayList_a = [];
			for(var i=0; i<inds_use_a.length; i++){
				pwayList_a[pwayList_a.length] = pwayList[inds_use_a[i]]; // reduce to common pways
			}
			$.getScript( "static/data/{{ user_id }}/{{current_projs[1].file_id}}/{{js_name_b}}", function( data, textStatus, jqxhr ) {
				console.log( "Loaded project B." );
				// pwayList loaded
				pwayList_b = [];
				for(var i=0; i<inds_use_b.length; i++){
					pwayList_b[pwayList_b.length] = pwayList[inds_use_b[i]]; // reduce to common pways
				}
//				$selectButton.click(updateImages);
//				$bokehContainer.bind("click touchstart", updateIfSelectionChange_afterWait);
                $(document).on("click touchstart", '.bokeh', updateIfSelectionChange_afterWait);

                $includeButton.click(true, selectPathwaysByGenes);
                $excludeButton.click(false, selectPathwaysByGenes);

                if(initial_include != 'None'){
                    $('#userGenes').val(initial_include);
                    $includeButton.click()
                }

			});

            matrix_dirs = ['matrix_svg', 'matrix_svg_cnv'];
            matrix_dir_ind = 0;
            $cnvButton.click(function(){
                // toggle index 0<->1
                if(matrix_dir_ind == 0){
                    matrix_dir_ind = 1;
                }
                else{
                    matrix_dir_ind = 0;
                }
                updateImages();
            });
		});

	});

    function getDataModel(){
        var models = Bokeh.ColumnDataSource.Collection.models;
		var model = null;
		for(var i=0; i<models.length; i++){
			if(models[i].attributes.column_names.length > 2){
				model = models[i];
				break;
			}
		}
        return model;
    }

    function getSelectedIndices(){
        var model = getDataModel();
        var indices = model.attributes.selected['1d'].indices.slice();
        indices.sort(function(a,b){return a - b;});
        return indices
    }

	function updateImages(){
		var matrix_dir = matrix_dirs[matrix_dir_ind];
        $imageContainer.empty();  //clear old pathway images
        $cnvButton.removeClass('hidden');

		var indices = getSelectedIndices();

		if(!indices.length){
			$imageContainer.text("No pathways selected");
			return
		}
//		else {
//			$imageContainer.text(indices.length + " pathway(s) selected.");
//		}
		var use_pways_a = [];
		for(var i=0; i<indices.length; i++){
			use_pways_a.push(pwayList_a[indices[i]])
		}
		var use_pways_b = [];
		for(var i=0; i<indices.length; i++){
			use_pways_b.push(pwayList_b[indices[i]])
		}
		var pway_lists = [use_pways_a, use_pways_b];
		var proj_names = [ '{{ current_projs[0].get_local_filename() }}', '{{ current_projs[1].get_local_filename() }}'];

//		console.log(use_pways[0])

		for (var pi = 0; pi < indices.length; pi++) {
			for(var proj_ind=0; proj_ind<pway_lists.length; proj_ind++) {
				var use_pways = pway_lists[proj_ind];
                if(typeof(use_pways[pi]) == 'undefined'){
					continue;
				}
                if(matrix_dir_ind==0){
                    var n_genes = use_pways[pi].geneSet.length;
                }
                else{
                    var n_genes = use_pways[pi].n_cnv;
                }


				var max_height = 25 * n_genes + 80;
				var pval = use_pways[pi]['pval'];
				var n_pathways = {{ n_pathways }};
				pq_str = null;
				if(pval == '0.000e+00')
					pq_str = 'p<1e-16, q<' + Number(1e-16 * n_pathways).toPrecision(3);
				else
					pq_str = 'p=' + Number(pval).toPrecision(3) + ', q=' + Number(pval * n_pathways).toPrecision(3);
				$imageContainer.append(
					'<div class="panel panel-primary">' +
					'<div class="panel-heading">' + proj_names[proj_ind] +
					'<h2 class="panel-title"><a href="' + root_url + use_pways[pi]['url'] + '" target="_blank">'
					+ use_pways[pi]['name'] + '</a>' + ' (' + pq_str + ') </h2>' +
					use_pways[pi]['brief'] + ' (' + use_pways[pi]['contrib'] + ')</div>' +
					'<div class="panel-body" style="padding:0"><code class="p-lengths">Gene lengths: ' +
					'<span class="keyword-text">min</span>=' + use_pways[pi]['lengths'][0] + 'kbp (' + use_pways[pi]['lengths'][1] + '); ' +
					'<span class="keyword-text">max</span>=' + use_pways[pi]['lengths'][2] + 'kbp (' + use_pways[pi]['lengths'][3] + '); ' +
					'<span class="keyword-text">avg</span>=' + use_pways[pi]['lengths'][4] + 'kbp; ' +
					'<span class="keyword-text">var</span>=' + use_pways[pi]['lengths'][5] + '</code>'
					+ '<div class="svg_target ui-widget-content">' +
					'<img src="static/data/{{ user_id }}/' + projIds[proj_ind] + '/pathways_svg/' + use_pways[pi]['id'] + '.svgz" ' +
					'alt="' + use_pways[pi]['id'] + '.svgz" ></img>'
					+ '</div>'
					+ '<div class="svg_matrix ui-widget-content"><div class="pway_size" style="display:none">'
					+ JSON.stringify({
						"n_genes": n_genes,
						"expanded": false
					}) + '</div>' +
					'<img src="static/data/{{ user_id }}/' + projIds[proj_ind] + '/' + matrix_dir + '/' + use_pways[pi]['id'] + '.svgz" ' +
					'px alt="' + use_pways[pi]['id'] + '.svgz" style="max-height:' + max_height + 'px;"></img>' //
					+ '</div></div>'
				);
				// 'height=1024px width=1024px
				//'height=' + (use_pways[pi].geneSet.length*25+80) +
			}
		}
    $(".svg_matrix").click(expandMatrixImage);

	}

	function updateIfSelectionChange_afterWait(){
		setTimeout(updateIfSelectionChange, 500); // wait to allow Bokeh indices to update
	}

	function updateIfSelectionChange(){
		// compare selected_prv to current selection

		var selected_now = getSelectedIndices();
		console.log('Selected prev: ' + selected_prv);
		console.log('Selected now: ' + selected_now);
		if(selected_changed(selected_prv, selected_now)){
			console.log('Selection changed');
			updateImages();
			selected_prv = selected_now;
		}
		else{
			console.log('Selection unchanged')

		}


	}

function selected_changed(array1, array2) {
	// compare lengths
    if (array1.length != array2.length)
        return true;
    for (var i = 0, l=array1.length; i < l; i++) {
        if (array1[i] != array2[i]) {
            return true;
        }
    }
    return false;
}


    function expandMatrixImage(event){
		var $im = $(event.target);
		var $statusDiv = $im.parent().children()[0];
		var im_status = jQuery.parseJSON($statusDiv.textContent);
		var n_genes = im_status.n_genes;
		var expanded = im_status.expanded;
		if(!expanded)
			$im.css('height',25*n_genes + 80);
		else
			$im.css('height','inherit');
		im_status.expanded = !im_status.expanded;
		$statusDiv.textContent = JSON.stringify(im_status);

	}

    function selectPathwaysByGenes(event){
        var showIfIncluded = event.data;
        var geneText = $('#userGenes').val();
        if (geneText === ""){
            return;
        }
        var geneList = geneText.split(',');
        var showPlotIds = [];


        for(var i=0; i<pwayList_a.length; i++){
            var p_a = pwayList_a[i];
            var p_b = pwayList_b[i];
            var geneFound = null;
            var found = [];
            if(typeof(p_a) != 'undefined'){
                $.each(geneList, function(geneIndex, geneName){
                    found.push($.inArray(geneName, p_a.geneSet) > -1);
                });
            }
            if(typeof(p_b) != 'undefined'){
                $.each(geneList, function(geneIndex, geneName){
                    found.push($.inArray(geneName, p_b.geneSet) > -1);
                });
            }
            if(showIfIncluded && $.inArray(true, found)>-1){
                showPlotIds.push(i);
            }
            else if (!showIfIncluded && $.inArray(true, found)<0){
                showPlotIds.push(i);
            }
        }





//        $.each(pwayList, function(jsIndex, pway){
//            var geneFound = null;
//            var found = [];
//            $.each(geneList, function(geneIndex, geneName){
//                found.push($.inArray(geneName, pway.geneSet) > -1);
//            });
//            if(showIfIncluded && $.inArray(false, found)<0){
//                showPlotIds.push(plot_inds[jsIndex]);
//            }
//            else if (!showIfIncluded && $.inArray(true, found)<0){
//                showPlotIds.push(plot_inds[jsIndex]);
//            }
//        });

        var model = getDataModel();
        model.attributes.selected['1d'].indices = showPlotIds;
        model.trigger('change');
        updateIfSelectionChange_afterWait()
    }



</script>

{% endif %}

{% endblock %}

