{% extends "base.html" %}


{% block page_content %}
<div class="page-header">
    <h1>FAQ</h1>
</div>

<h2><small>The interface</small></h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTarget">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapseTarget" aria-expanded="false" aria-controls="collapseTarget">
          How do I interpret the target plots?
        </a>
      </h4>
    </div>
    <div id="collapseTarget" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTarget">
      <div class="panel-body">
        {% include "faq_items/_faq_target.html" %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_ids">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse_ids" aria-expanded="false" aria-controls="collapse_ids">
          How do I obtain valid gene identifiers for my upload file?
        </a>
      </h4>
    </div>
    <div id="collapse_ids" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_ids">
      <div class="panel-body">
        {% include "faq_items/_faq_ids.html" %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_rejected">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse_rejected" aria-expanded="false" aria-controls="collapse_rejected">
          What are the <em>loaded</em>, <em>unused</em> and <em>rejected</em> project attributes?
        </a>
      </h4>
    </div>
    <div id="collapse_rejected" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_rejected">
      <div class="panel-body">
        {% include "faq_items/_faq_rejected.html" %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_genes">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse_genes" aria-expanded="false" aria-controls="collapse_genes">
          How do the gene lists in the upload form differ from those in the results pages?
        </a>
      </h4>
    </div>
    <div id="collapse_genes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_genes">
      <div class="panel-body">
        {% include "faq_items/_faq_genes.html" %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_comparison">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse_comparison" aria-expanded="false" aria-controls="collapse_comparison">
          Which pathways are shown on the Comparison page?
        </a>
      </h4>
    </div>
    <div id="collapse_comparison" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_comparison">
      <div class="panel-body">
        {% include "faq_items/_faq_comparison.html" %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_export">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse_export" aria-expanded="false" aria-controls="collapse_export">
          How do I export project results?
        </a>
      </h4>
    </div>
    <div id="collapse_export" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_export">
      <div class="panel-body">
        {% include "faq_items/_faq_export.html" %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_bokeh">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
           href="#collapse_bokeh" aria-expanded="false" aria-controls="collapse_bokeh">
          How do I use the interactive plots?
        </a>
      </h4>
    </div>
    <div id="collapse_bokeh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_bokeh">
      <div class="panel-body">
        {% include "faq_items/_faq_bokeh.html" %}
      </div>
    </div>
  </div>



</div>

<h2><small>Technical</small></h2>

<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_alg">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
           href="#collapse_alg" aria-expanded="false" aria-controls="collapse_alg">
          What is the difference between the 'gene count' and 'gene length' algorithms?
        </a>
      </h4>
    </div>
    <div id="collapse_alg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_alg">
      <div class="panel-body">
        {% include "faq_items/_faq_algorithms.html" %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_q">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
           href="#collapse_q" aria-expanded="false" aria-controls="collapse_q">
          How do you calculate <em>Q</em> values?
        </a>
      </h4>
    </div>
    <div id="collapse_q" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_q">
      <div class="panel-body">
        <p>We use the Bonferroni adjustment, multiplying the <em>P</em> value by the number
          of pathways in out database, currently {{ n_pathways }}.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_tree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
           href="#collapse_tree" aria-expanded="false" aria-controls="collapse_tree">
          How is the tree view constructed?
        </a>
      </h4>
    </div>
    <div id="collapse_tree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_tree">
      <div class="panel-body">
        {% include "faq_items/_faq_tree.html" %}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_code">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
           href="#collapse_code" aria-expanded="false" aria-controls="collapse_code">
          Is your code open source?
        </a>
      </h4>
    </div>
    <div id="collapse_code" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_code">
      <div class="panel-body">
        {% include "faq_items/_faq_code.html" %}
      </div>
    </div>
  </div>



</div>
{% endblock %}