{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Status</h1>
</div>
{% if projects %}
<div class="table-responsive">
<table class="table table-hover vmiddle_sgg">
    <tr>
        <th>Project Name</th>
        <th>Patients</th>
        <th>Date</th>
        <!--<th>Filename</th>-->
        <th>Algorithm</th>
        <!--<th>Genome size</th>-->
        <!--<th>n_cutoff</th>-->
        <th>Ignore</th>
        <!--<th>Required</th>-->
        <th>Unused</th>
        <th>Rejected</th>
        <th>Status</th>
        <th>Expires</th>
        <th>Zip</th>
    </tr>
    {% for proj in projects %}
        {% if proj.run_complete %}
            <tr class="success">
            <td><a href="{{ url_for('pway.results', proj=proj.get_local_filename()) }}">{{ proj.get_local_filename() }}</a></td>
        {% else %}
            <tr>
            <td>{{ proj.get_local_filename() }}</td>
        {% endif %}
            <td>{{ proj.n_patients or '' }} </td>
            <td>{{ proj.upload_time.strftime('%Y-%m-%d') }} </td>
            <!--<td>{{ proj.filename }} </td>-->
            <td>{{ proj.algorithm }} </td>
            <!--<td>{{ proj.genome_size }} </td>-->
            <!--<td>{{ proj.n_cutoff }} </td>-->
            <td>{{ proj.ignore_short }} </td>

        {% if proj.n_ignored %}
            <td><a href="{{ url_for('pway.get_filtered', projId=proj.file_id, type='ignored') }}">{{ proj.n_ignored }}</a></td>
        {% elif proj.run_complete == False %}
            <td></td>
        {% else %}
            <td> 0 </td>
        {% endif %}

        {% if proj.n_rejected %}
            <td><a href="{{ url_for('pway.get_filtered', projId=proj.file_id, type='rejected') }}">{{ proj.n_rejected }}</a></td>
        {% elif proj.run_complete == False %}
            <td></td>
        {% else %}
            <td> 0 </td>
        {% endif %}

            <!--<td>{{ proj.required_genes }} </td>-->
        {% if proj.run_complete %}
            <td>Complete</td>
        {% elif proj.run_complete == False %}
            <td>Running</td>
        {% else %}
            <td>Failed</td>
        {% endif %}
        {% if current_user.get_expiry_date() %}
            <td>{{ momentjs(current_user.get_expiry_date()).fromNow() }}</td>
        {% else %}
            <td>Never</td>
        {% endif %}
        {% if proj.run_complete %}
            <td>
                <!--<a href="{{ url_for('pway.archive', proj=proj.file_id) }}">-->
            <form method="get" action="{{ url_for('pway.archive', proj=proj.file_id) }}">
                <input type="hidden" name="proj" value="{{ proj.file_id }}">
                <button class="btn btn-default" aria-label="Download Archive">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                </button>
            </form>
            </td>
        {% else %}
            <td></td>
        {% endif %}
        </tr>
    {% endfor %}
</table>
</div>

{% else %}
No projects to show. Please upload a file on the <a href="{{url_for('pway.upload')}}">Upload</a> page.
{% endif %}

{% endblock %}
