{% extends "base.html" %}
{% block head %}
    {{ super() }}
	<title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
{% endblock %}


{% block page_content %}
    <div class="row">
		<form class="form-inline" id="projForm" method="get"> {# action="/scatter" #}
			<div class="form-group" style="margin: 0px 0px 15px 0px;">
				<label for="projSelection">Project:</label>
                <select class="form-control" id="projSelection" name="proj">
				{% for proj in projects %}
					{% if current_proj.file_id == proj.file_id %}
						<option value="{{ proj.file_id }}" selected="selected">
					{% else %}
						<option value="{{ proj.file_id }}">
					{% endif %}
						{{ proj.get_local_filename() }}
						</option>
				{% endfor %}
				</select>
                <span style="margin-left:15px;">{{ current_proj.n_patients }} patients.</span>
			</div>
        </form>
    </div>

{% block bokeh_form %}{% endblock bokeh_form %}

<div class="row">
    <div class="bokeh col-md-8 no-gutter">
     {{ bokeh_div|safe }}
    </div>
    <div class="col-md-4">
        {% block extra_plot %}{% endblock extra_plot %}
    </div>
</div>

<form class="form-inline" style="margin-top: 15px;" id="geneForm">
  <div class="form-group">
    <!--<label for="userGenes">Email address</label>-->
    <input type="text" class="form-control" id="userGenes" placeholder="Gene list e.g. TP53,BRAF">
    <button class="btn btn-default" id="includeButton" type="button">Include</button>
    <button class="btn btn-default" id="excludeButton" type="button">Exclude</button>
    <label for="userGenes" class="control-label" id="selectCount"></label>
  </div>
</form>

{% if has_cnv %}
<div>
	<button class="btn btn-default hidden" id="toggleCnvButton">Toggle CNV</button>
</div>
{% endif %}


<div id="imageContainer" class="padded">
</div>

{% endblock page_content %}


{% block scripts %}
{{super()}}

 <link rel="stylesheet" href="{{ resources.css_files[0] }}" type="text/css" />
 <script type="text/javascript" src="{{ resources.js_files[0] }}"></script>
 <!--<script src="/static/pway_display_common.js"></script>-->
{{ get_common_js(is_archive)|safe }}
{{ bokeh_script|safe }}

{% if is_archive is undefined or is_archive == False %}
    {% set js_path = "static/data/" ~ user_id ~ "/" ~ current_proj.file_id ~ "/" ~ js_name %}
{% else %}
	{% set js_path = js_name %}
{% endif %}


<script>
    $(function() {
		$imageContainer = $('#imageContainer');
        $projSelection = $('#projSelection');
		projId = $projSelection.val();
        $bokehContainer = $('.bokeh');
        $includeButton = $('#includeButton');
        $excludeButton = $('#excludeButton');
        $selectCount = $('#selectCount');
        $cnvButton = $('#toggleCnvButton');

        var initial_include = '{{ include_genes }}';

        $projSelection.change(  // sets projId global
				function () {
					projId = $projSelection.val();
					$('#projForm').submit()
				}
		);
        $("#geneForm").submit(function(e){return false;});

        pwayList = []; //updated by loaded script
        js_inds = {{ js_inds }};
        plot_inds = {{ plot_inds }};

		selected_prv = [];

		$.getScript( "{{ js_path }}", function( data, textStatus, jqxhr ) {
			console.log( "Loaded project." );
            $bokehContainer.click(updateIfSelectionChange_afterWait);
            $includeButton.click(true, selectPathwaysByGenes);
            $excludeButton.click(false, selectPathwaysByGenes);

            if(initial_include != 'None'){
                $('#userGenes').val(initial_include);
                $includeButton.click()
            }
		});

        matrix_dirs = ['matrix_svg', 'matrix_svg_cnv'];
        matrix_dir_ind = 0;
        $cnvButton.click(function(){
			// toggle index 0<->1
            if(matrix_dir_ind == 0){
                matrix_dir_ind = 1;
            }
            else{
                matrix_dir_ind = 0;
            }
            updateImages();
		});

    });

    function getDataModel(){
		for (var idx in Bokeh.index){
			if (Bokeh.index.hasOwnProperty(idx)){
				var idx_models = Bokeh.index[idx].model.document._all_models;
				for (var model in idx_models){
					if (idx_models.hasOwnProperty(model) && idx_models[model].attributes.hasOwnProperty("selected"))
						return idx_models[model];
				}
			}
		}
    }


    function getSelectedIndices(){
        var model = getDataModel();
        var indices = model.attributes.selected['1d'].indices.slice();
        indices.sort(function(a,b){return a - b;});
        return indices
    }

    function updateImages(){
		var matrix_dir = matrix_dirs[matrix_dir_ind];
        $imageContainer.empty();  //clear old pathway images
        $cnvButton.removeClass('hidden');
		var indices = getSelectedIndices();
        if(!indices.length){
			$imageContainer.text("No pathways selected");
			return
		}
		var use_pways = [];
        var use_js_inds = [];
		for(var i=0; i<indices.length; i++){
			if(js_inds[indices[i]]>-1){  //
                use_js_inds.push(js_inds[indices[i]]);
            }
		}
        use_js_inds.sort(function(a,b){return a - b;}); //order by effect size
        $.each(use_js_inds, function(i, js_index){use_pways.push(pwayList[js_index]);});
        if(!use_pways.length){
			$imageContainer.text("No enriched pathways selected");
			return
		}
		var proj_name = '{{ current_proj.get_local_filename() }}';
		for (var pi = 0; pi < use_pways.length; pi++) {

            if(matrix_dir_ind==0){
                var n_genes = use_pways[pi].geneSet.length;
            }
            else{
                var n_genes = use_pways[pi].n_cnv;
            }

            plot_div = create_plot_div(use_pways[pi], {{ n_pathways }},{{ user_id }}, projId, matrix_width);
            $imageContainer.append(plot_div);
		}
        $(".svg_matrix").click(expandMatrixImage);
	}


	function updateIfSelectionChange_afterWait(){
		setTimeout(updateIfSelectionChange, 500); // wait to allow Bokeh indices to update
	}


	function updateIfSelectionChange(){
		// compare selected_prv to current selection
		var selected_now = getSelectedIndices();
		$selectCount.text(selected_now.length + " pathways selected.");
        console.log('Selected prev: ' + selected_prv);
		console.log('Selected now: ' + selected_now);
		if(selected_changed(selected_prv, selected_now)){
			console.log('Selection changed');
			updateImages();
			selected_prv = selected_now;
		}
		else{
			console.log('Selection unchanged')
		}
	}


    function selected_changed(array1, array2) {
        // compare lengths
        if (array1.length != array2.length)
            return true;
        for (var i = 0, l=array1.length; i < l; i++) {
            if (array1[i] != array2[i]) {
                return true;
            }
        }
        return false;
    }

    function selectPathwaysByGenes(event){
        var showIfIncluded = event.data;
        var geneText = $('#userGenes').val();
        if (geneText === ""){
            return;
        }
        var geneList = geneText.split(',');
        var showPlotIds = [];

        $.each(pwayList, function(jsIndex, pway){
            var geneFound = null;
            var found = [];
            $.each(geneList, function(geneIndex, geneName){
                found.push($.inArray(geneName, pway.geneSet) > -1);
            });
            if(showIfIncluded && $.inArray(false, found)<0){
                showPlotIds.push(plot_inds[jsIndex]);
            }
            else if (!showIfIncluded && $.inArray(true, found)<0){
                showPlotIds.push(plot_inds[jsIndex]);
            }
        });
//        Bokeh.ColumnDataSource.Collection.models[0].set('selected', showPlotIds);
        var model = getDataModel();
        model.attributes.selected['1d'].indices = showPlotIds;
        model.trigger('change');
        updateIfSelectionChange_afterWait()
    }
</script>

{% endblock %}

