{% extends "base.html" %}
{% block head %}
    {{ super() }}
	<title>Results</title>
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Pathway Search Results</h1>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Browse your available projects</div>
	<div class="panel-body">
		<form class="form-inline" action="">
			<div class="form-group">
				<select class="form-control" id="projSelection" name="characters">
				{% for proj in projects %}
					{% if show_proj == proj.get_local_filename() %}
						<option value="{{ proj.file_id }}" selected="selected">
					{% else %}
						<option value="{{ proj.file_id }}">
					{% endif %}
						{{ proj.get_local_filename() }}
						</option>
				{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<input class="form-control" type="text" id="genes" size="40" maxlength="10000" value = ""
					placeholder="INCLUDE GENES e.g. BRAF,NRAS">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" id="exclude" size="40" maxlength="10000" value = ""
					placeholder="EXCLUDE GENES e.g. TTN">
			</div>
			<div class="form-group">
			<button id="geneSubmitButton" class="btn btn-default" type="button">Get pathways</button>
			</div>

		</form>
			Leave fields blank to skip filtering by gene.
	    </div>
</div>



<div>
	<p class="lead">Target plots and matrix plots are shown for each significant pathway.
		Toggle the plot displays using the buttons below. Click on a matrix plot to expand
		to full size.</p>
</div>
<div>
	<button class="btn btn-default" id="toggleTargetButton">Toggle targets</button>
	<button class="btn btn-default" id="toggleMatrixButton">Toggle matrices</button>
</div>
<div id="imageContainer" class="padded">
</div>

<nav>
  <ul class="pager">
    <!--<li><a id="prvPways">Previous</a></li>-->
    <li><a id="nextPways">Show additional pathways</a></li>
  </ul>
</nav>

{% endblock %}


{% block scripts %}
{{super()}}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<!-- <script src="pathways_pvalues_1.js"></script> --> <!-- SETS global pwayList -->
<script>
	
	//on window load
	$(function(){
		
		$geneBox = $('#genes');  // global for textbox containing gene names
		$excludeBox = $('#exclude');  // global for textbox containing gene names
		$imageContainer = $('#imageContainer');
		$fetcherButton = $('#geneSubmitButton');
		$targetButton = $('#toggleTargetButton');
		$matrixButton = $('#toggleMatrixButton');
		$projSelection = $('#projSelection');
		pwayList = null;
		skip_few = true;

		var pi = null;
		projId = $projSelection.val();  // global for project id
		proj_names = {{ proj_names|safe }};
		
		$projSelection.change(
			function(){
				projId = $projSelection.val();
				updateProjId();
			}
		);

		$targetButton.click(function(){
			$(".svg_target").toggle()
		});
		$matrixButton.click(function(){
			$(".svg_matrix").toggle()
		});

		$fetcherButton.click(fetchPathways);
		$geneBox.keypress(function(e){
			if(e.keyCode==13)
				$fetcherButton.click();
			});
		$excludeBox.keypress(function(e){
			if(e.keyCode==13)
				$fetcherButton.click();
			});

		pageNo = 0;
		pageMax = 20;

		updateProjId();

		$("#nextPways").click(function(){
			increment_page(1)
		});
//		$("#prevPways").click(function(){
//			increment_page(-1)
//		});

	})


	function increment_page(increment){
		//change page number if appropriate given increment
		// SETS UP USE_PWAYS_PAGE
		if(increment != -1 && increment != 1){
			return;
		}
		if(use_pways.length <= pageMax){
			return;
		}
		if(increment < 0 && pageNo==0){
			return;
		}
		if(increment == -1 && pageNo==0){
			return;
		}
		pageNo += increment;
		use_pways_page = use_pways.slice(pageNo*pageMax, pageNo*pageMax + pageMax);
		updateImages();
	}

	function updateProjId(){
		$.getScript( "static/data/{{ user_id }}/" + projId + "/" + proj_names[projId] + ".js", function( data, textStatus, jqxhr ) {
			// console.log( data ); // Data returned
			// console.log( textStatus ); // Success
			// console.log( jqxhr.status ); // 200
			console.log( "Load was performed." );
			fetchPathways();
			});
		
	}

//	function

	function fetchPathways(){
		// UPDATE FILTERED USE_PWAY LIST BASED ON FORM CONTENTS
		pageNo = 0;
		var geneList = $geneBox.val().split(','); //array of genes
		var excludeList = $excludeBox.val().split(','); //array of genes
		// console.log(geneList)
		var max_n_pways = 10000;  //limit number of pathways returned
		var n_pways_found = 0;
		use_pways = [];
		var gene = null;
		$imageContainer.empty();  //clear old pathway images
		//iterate over pathways, checking to see if they contain genes of interest
		for(var pi=0; pi<pwayList.length; pi++){
			//stop iteration once enough pathways found.
			var this_pway = pwayList[pi];

			//if skip_few and eff<size, continue
			if(skip_few && this_pway.effective<this_pway.size){
				continue;
			}

			if(use_pways.length == max_n_pways){
				break;
			}

			//if pathway contains anything in excludeList, continue
			skip = false;
			for(var ei=0; ei<excludeList.length; ei++){
				if((this_pway.geneSet.indexOf(excludeList[ei]))>-1){
					skip=true;
					break;
				}
			}
			if(skip){
				continue;
			}

			// SHOW ALL PATHWAYS IF NO GENES SPECIFIED
			if(geneList[0] == ""){
				use_pways.push(this_pway);  // add pway to list
			}
			// is gene i in pway pi?
			for(var gi=0; gi<geneList.length; gi++){
				gene = geneList[gi];
				// if(pi==0) console.log(gene);
				if(this_pway.geneSet.indexOf(gene)>-1){ // gene found
					use_pways.push(this_pway);  // add pway to list
					break;
				}
			}
		}
		if(!use_pways.length){
			$imageContainer.text("No pathways found");
		}
		else {
			$imageContainer.text(use_pways.length + " pathways found.");
		}
		// sets use_pways_page to first page set
		use_pways_page = use_pways.slice(0, pageNo+pageMax);
		updateImages()
	}

	function updateImages(){
		//now have up to max pathways in list. fill img tag src.
		var rank1 = pageNo*pageMax;
		var n_shown = use_pways_page.length;
		if (n_shown>1) {
			var show_text = " Showing pathways " + (rank1+1) + " to " + (rank1 + n_shown);
			$imageContainer.append(show_text);
		}
		for(var pi=0; pi<use_pways_page.length; pi++){
			$imageContainer.append(
				'<div class="panel panel-primary">' +
				'<div class="panel-heading">' +
				'<h2 class="panel-title"><a href="'+ root_url + use_pways_page[pi]['url'] +'" target="_blank">'
				+ use_pways_page[pi]['name'] + '</a>' + ' (p=' + use_pways_page[pi]['pval'] + ') </h2>' +
				use_pways_page[pi]['brief'] + ' (' + use_pways_page[pi]['contrib'] + ')</div>' +
				'<div class="panel-body" style="padding:0"><code class="p-lengths">Gene lengths: ' +
				'<span class="keyword-text">min</span>=' + use_pways_page[pi]['lengths'][0] + 'kbp (' + use_pways_page[pi]['lengths'][1] + '); ' +
				'<span class="keyword-text">max</span>=' + use_pways_page[pi]['lengths'][2] + 'kbp (' + use_pways_page[pi]['lengths'][3] + '); ' +
				'<span class="keyword-text">avg</span>=' + use_pways_page[pi]['lengths'][4] + 'kbp; ' +
				'<span class="keyword-text">var</span>=' + use_pways_page[pi]['lengths'][5] + '</code>'
				+'<div class="svg_target ui-widget-content">' +
				'<img src="static/data/{{ user_id }}/' + projId + '/pathways_svg/' + use_pways_page[pi]['id'] + '.svgz" ' +
				'alt="' + use_pways_page[pi]['id'] + '.svgz" ></img>'
				+'</div>'
				+'<div class="svg_matrix ui-widget-content"><div class="pway_size" style="display:none">'
				+ JSON.stringify({"n_genes":use_pways_page[pi].geneSet.length, "expanded":false}) + '</div>' +
				'<img src="static/data/{{ user_id }}/' + projId + '/matrix_svg/' + use_pways_page[pi]['id'] + '.svgz" ' +
				'px alt="' + use_pways_page[pi]['id'] + '.svgz" ></img>' //
				+'</div></div>'
				);
				// 'height=1024px width=1024px
				//'height=' + (use_pways_page[pi].geneSet.length*25+80) +
		}
//		$(".svg_matrix, .svg_target").each(function() {
//			var $this = $(this);
//			$this.resizable();
//		});

		$(".svg_matrix").click(expandMatrixImage);

	}

	function expandMatrixImage(event){
		var $im = $(event.target);
		var $statusDiv = $im.parent().children()[0];
		var im_status = jQuery.parseJSON($statusDiv.textContent);
		var n_genes = im_status.n_genes;
		var expanded = im_status.expanded;
		if(!expanded)
			$im.css('height',25*n_genes + 80);
		else
			$im.css('height','inherit');
		im_status.expanded = !im_status.expanded;
		$statusDiv.textContent = JSON.stringify(im_status);

	}



</script>

{% endblock %}
