{% extends "base.html" %}
{% block head %}
    {{ super() }}
	<title>Results</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block page_content %}

{% if is_archive is undefined or is_archive == False %}
	{% set tree_path = "static/data/" ~ current_user.id ~ "/" ~ current_proj.file_id ~ "/" ~ proj_names[current_proj.file_id|int] ~ "_tree.svgz" %} 
{% else %}
	{% set tree_path = proj_names[current_proj.file_id|int] ~ "_tree.svgz" %}
{% endif %}

<!--<div class="page-header">-->
	<!--<h1>Pathway Dendrogram</h1>-->
<!--</div>-->

<!--<div class="panel panel-default">-->
	<!--<div class="panel-body">-->
		<form class="form-inline" action="/tree" method="get">
			<div class="form-group" style="margin: 0px 0px 15px 0px;">
				<label for="projSelection">Project:</label>
                <select class="form-control" id="projSelection" name="proj">
				{% for proj in projects %}
					{% if current_proj.file_id == proj.file_id %}
						<option value="{{ proj.file_id }}" selected="selected">
					{% else %}
						<option value="{{ proj.file_id }}">
					{% endif %}
						{{ proj.get_local_filename() }}
						</option>
				{% endfor %}
				</select>
			</div>
        </form>
    <!--</div>-->
<!--</div>-->


<div id="resizable-tree" class="ui-widget-content">
    <div class="tree-holder">
        <div class="dendrogram">
            <img src="{{ tree_path }}" alt="dendrogram">
        </div>


        <div class="dendrotext">{% for proj_id in names_odict %}<button class="tree-button" data-pid="{{ proj_id }}">{{ names_odict[proj_id]|safe }}</button>
            {% endfor%}</div>
    </div>
</div>

<div id="imageContainer" class="padded">
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<!--<script src="/static/pway_display_common.js"></script>-->
{{ get_common_js(is_archive)|safe}}


{% if is_archive is undefined or is_archive == False %}
	{% set is_archive = False %}
	{% set js_path = "static/data/" ~ current_user.id ~ "/" ~ current_proj.file_id ~ "/" ~ proj_names[current_proj.file_id|int] ~ ".js" %} 
{% else %}
	{% set js_path = proj_names[current_proj.file_id|int] ~ ".js" %}
{% endif %}



<script>
    $(function() {
        $("#resizable-tree").resizable({handles: "s"});
        $imageContainer = $('#imageContainer');
        $treebuttons = $('.tree-button');

        //pway_dict = {};  //set by get_pway_dict when projId set/refreshed
        //initialView = true;

        $.getScript('{{ js_path }}', function( data, textStatus, jqxhr ) {
                // console.log( data ); // Data returned
                // console.log( textStatus ); // Success
                // console.log( jqxhr.status ); // 200
                console.log( "Load was performed." );
                n_pways = pwayList.length;
                initialView = true;
                get_pway_dict();
                set_hover_action();}
        );

        $projSelection = $('#projSelection');
        projId = $projSelection.val();
        $projSelection.change(  // sets projId global
            function () {
                projId = $projSelection.val();
                $('form').submit()
            }
        );

    });


    function set_hover_action() {
        $treebuttons.mouseenter(function () {
            $imageContainer.empty();  //clear old pathway images
            if(initialView){
                $('div#resizable-tree').height(300);
                initialView = false;
            }
            var pid = this.dataset.pid;
            var projId = {{ current_proj.file_id }};
            plot_div = create_plot_div(pway_dict[pid], {{ n_pathways }}, {{ user_id }}, projId);
            $imageContainer.append(plot_div);
            $(".svg_matrix").click(expandMatrixImage);
        });
    }

    function get_pway_dict(){
        pway_dict = {};
        for (var i=0,  tot=n_pways; i < tot; i++) {
            temp_pway = pwayList.pop();
            pway_dict[temp_pway.id] = temp_pway;
        }
    }

	function expandMatrixImage(event){
		var $im = $(event.target);
		var $statusDiv = $im.parent().children()[0];
		var im_status = jQuery.parseJSON($statusDiv.textContent);
		var n_genes = im_status.n_genes;
		var expanded = im_status.expanded;
		if(!expanded)
			$im.css('height',25*n_genes + 80);
		else
			$im.css('height','inherit');
		im_status.expanded = !im_status.expanded;
		$statusDiv.textContent = JSON.stringify(im_status);

	}


</script>

{% endblock %}

