<p>
    Uploading and browsing custom BMR files follows the same process as uploading
    projects&mdash;only the arguments and endpoint of the POST request differ.
    Send a POST request to <strong>api/bmr/</strong>, with the following
    fields:
</p>

<ul>
    <li><code>title</code> &mdash; a short, recognizable string. Max 32 characters.
        You will use the title to refer to this BMR file when creating a project
        that uses it.
    <li><code>tissue</code> &mdash; (optional) a tissue of origin, max 100 characters.</li>
    <li><code>description</code> &mdash; (optional) A description of the file,
        for your reference. Max 255 characters.</li>
    <li><code>bmr_file</code> &mdash; the bmr file, as described on the
        <a href="{{ url_for('pway.bmr') }}" target="_blank">BMR</a> page.</li>
</ul>

<p>Refer to project upload instructions for help with form-encoding and setting
    content type.
</p>

<p>The following httpie command uploads a BMR file, with title 'lung_ccle':</p>
<p>
<code style="white-space: pre-wrap">$ http --auth=$TK: --form <strong>POST</strong> https://{{ request.host }}/<strong>api/bmr/</strong> title=lung_ccle tissue=lung description='16 lung samples from CCLE' bmr_file@lung_ccle.txt</code>
</p>

<p>As with project upload, the 'Location' header in the response gives a URL for
    the newly created BMR file.</p>

<p>
    You can browse your BMR archive in the same manner as you would browse projects,
    sending GET requests to the <strong>api/bmr/</strong> endpoint. As with project
    browsing, you can filter results using url query strings.
</p>

