<p>
    When you upload a mutation dataset, you have the option of including a column
    called 'annot_str' (short for 'annotation string'). The values you specify here
    do not affect any pathway calculation, but will be used to add an extra
    dimension of information to the resulting matrix plots. The annotation strings
    you provide will be overlaid on the corresponding patient&ndash;gene boxes,
    so try to keep these to a single character. In cases where there are multiple
    mutations in a single gene, the most common annotation string will be used,
    appended with a '+'. To convey activating or silencing
    mutations, for example, you might use 'a' and 's', respectively, as in the
    example matrix below. Copy number gain or loss could be conveyed with '+'
    and '-'.
</p>
<img src="static/annot_matrix_demo.svgz" alt="annot_matrix_demo.svgz">
<p>
    The motivation behind this feature is to aid interpretation. The observation
    of the same annotation across all mutations of a gene might suggest a common
    mutational mechanism, e.g. consistent copy number loss. Informative patterns
    can emerge this way, assisting the search for plausibly cancer-driving
    pathways among false positives.
</p>
