<p>
    Background mutation rate values are provided in
    <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3919509/#SD3" target="_blank">supplementary data</a>
    from Lawrence et al (2013).
</p>

<blockquote><p>
    Lawrence, M.S. et al., 2013.
    Mutational heterogeneity in cancer and the search for new cancer-associated genes.
    <em>Nature</em>, pp.10–14. Available at:
    <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3919509/" target="_blank">
        http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3919509/</a>
</p></blockquote>

<p>
    The gene-specific non-coding rates in Table S5 and
    100kb region non-coding rates in Table S4 are averaged from 91 cancer cell lines
    from the Cancer Cell Line Encyclopedia
    (<a href="https://www.broadinstitute.org/software/cprg/?q=node/11" target="_blank">CCLE</a>).
    As illustrated in Figure S3 in their
    <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3919509/bin/NIHMS471461-supplement-1.pdf" target="_blank">supplementary pdf</a>,
    these mutation rates are highly concordant across tissue types.
</p>
<p>
    We convert these values to 'mutations per megabase' for each gene in MSigDB.
</p>

<img src="static/chr_rates.svgz" alt="Mutation rates per chromosome">

<p>Statistics:
<pre>
count    8287.000000
mean        3.207774
std         1.652648
min         0.279508
25%         2.298138
50%         2.754947
75%         3.532977
max        25.720930
</pre>
</p>


