<p>
    The Comparison page, like the Flat and Scatter results pages, uses a cutoff
    of <em>P</em><0.05 for classifying a pathway as 'enriched'.
</p>
<p>
    The scatter plot on the Comparison page shows all pathways that:
</p>
    <ol>
        <li>are enriched in at least one of the two selected projects, and</li>
        <li>have at least one alteration in both projects.</li>
    </ol>
<p>
    The requirement for each pathway to be altered in both projects is necessary
    to obtain the respective effect sizes that are used for the scatter plot
    coordinates.
</p>