
<p>
    Specifying genes to 'exclude' in the results pages, hides any pathways that
    contain these genes. This is different to the 'ignored' genes parameter,
    which will not skip pathways, but instead exclude the provided genes from
    pathway size calculation and patient mutation counts.
</p>

<p>
    The 'include' field in the results pages filters out all pathways that
    contain the specified genes. The pathways shown will be the same as those had
    the 'include' genes been specified for the 'required' genes parameter on the
    upload page.
</p>