<p>
    The interactive plots in the Scatter and Compare views are built using the
    <a target="_blank" href="http://bokeh.pydata.org/en/latest/">Bokeh</a> visualization library.
    This library provides the following functionality:
</p>
<dl class="dl-horizontal">
    <dt>Hover</dt>
    <dd>Each pathway is represented by a scatter plot circle. Hovering over a pathway
    with reveal a tooltip containing the pathway name.</dd>

    <dt>Pan</dt>
    <dd>The pan tool allows panning of the axes.</dd>

    <dt>Zoom</dt>
    <dd>Mouse wheel scrolling allows you zoom in or out. Alternatively use the
    'box zoom' tool to draw a rectangular zoom area.</dd>

    <dt>Point selection</dt>
    <dd>Click on a pathway circle to pull up target and matrix plots beneath the
        scatter plot. To select multiple pathways at once, hold <strong>Shift</strong>
        and click on multiple circles, or use the 'box select' tool to select all
        pathways within a rectangular area.
    </dd>

    <dt>Resize</dt>
    <dd>The 'resize' tool, available on Scatter page, lets you make the entire plot
        larger or smaller by clicking and dragging on the axes.</dd>

    <dt>Reset</dt>
    <dd>Return to the original view by clicking on the 'reset' button.</dd>

</dl>
