{% extends "bootstrap/base.html" %}

{% block title %}Pathways{% endblock %}

{% block head %}
{{ super() }}
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">-->

{% if is_archive is undefined %} 
    {% set is_archive = False %} 
{% endif %}
{{ get_common_css(is_archive)|safe}}

{% endblock %}

{% block navbar %}


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('pway.index') }}">Pathways</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      {% if not is_archive %}
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('pway.index') }}">Status</a></li>
            <li><a href="{{ url_for('pway.upload') }}">Upload</a></li>
            <li><a href="{{ url_for('pway.bmr') }}">BMR</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Results<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('pway.tree') }}">Trees</a></li>
                    <li><a href="{{ url_for('pway.results') }}">Flat</a></li>
                    <li><a href="{{ url_for('pway.scatter') }}">Scatter</a></li>
                    <li><a href="{{ url_for('pway.compare') }}">Comparison</a></li>
                </ul>
            </li>
              <li><a href="{{ url_for('pway.faq') }}">FAQ</a></li>
              {% if current_user.is_admin %}
                <li>
                    <a href="{{ url_for('pway.index') }}">Moderate [Admin]
                    </a>
                </li>
            {% endif %}
        {% else %}
          <li><a href="{{ url_for('security.register') }}">Register</a></li>
          <li><a href="{{ url_for('pway.upload') }}">Upload</a></li>
          <li><a href="{{ url_for('pway.faq') }}">FAQ</a></li>
        {% endif %}
      {% else %}{# left navbar for is_archive #}
          <li><a href="{{ proj.get_local_filename() + '_flat.html' }}">Flat</a></li>
          <li><a href="{{ proj.get_local_filename() + '_scatter.html' }}">Scatter</a></li>
          <li><a href="{{ proj.get_local_filename() + '_tree.html' }}">Tree</a></li>
      {% endif %}
      </ul>
      {% if not is_archive %}{# only show user/login if non-archive #}
      <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('security.login') }}">Login</a></li>
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.email }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
            </ul>
        </li>
        {% endif %}
        </li>
      </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}


<script>
    function matrix_width(n_patients){
        var box_px = {{ config['MATRIX_BOX_PX'] }};
        var hpad = {{ config['MATRIX_HPAD_PX'] }};
        return box_px * n_patients + hpad + 10;
    }
    function expandMatrixImage(event){
		var $im = $(event.target);
		var $statusDiv = $im.parent().children()[0];
		var im_status = jQuery.parseJSON($statusDiv.textContent);
		var n_patients = im_status.n_patients;
		var expanded = im_status.expanded;
		if(!expanded) {
			var width = matrix_width(n_patients);
			$im.css('max-width', width);
		} else
			$im.css('max-width', '100%');
		im_status.expanded = !im_status.expanded;
		$statusDiv.textContent = JSON.stringify(im_status);
	}
</script>

{% endblock %}
